@import 'https://www.nerdfonts.com/assets/css/webfont.css';

body {
  font-family: ui-monospace, monospace;
  font-size: 12px;
  overflow: hidden;

  --island-fg-text-color: #e8e0d0;
  --island-fg-divider-color: #6a5a4a;
  --island-fg-icon-color: #6a5a4a;
  --island-bg-color: #2a1508;
  --island-bg-border-color: rgb(180, 80, 20, 0.3);
}

html,
body,
#root {
  height: 100%;
}

.app {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
  height: 44px;
  padding: 0 10px;
  gap: 6px;
  background: transparent;
}

.archipelago-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}

.archipelago-center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.archipelago-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 6px;
}

.island {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 28px;   
    padding: 0px 10px;
    gap: 6px;
    color: var(--island-fg-text-color);  
    border: 1px solid var(--island-bg-border-color);
    background-color: var(--island-bg-color);
}

.stat {
    display: flex;
    align-items: center;
}

.stat-divider {
    color: var(--island-fg-divider-color);
}

.icon {
    font-size: 14px;
    margin-right: 3px;
    color: var(--island-fg-icon-color);
}

/* weather icons are too small */
.nf-weather-day_cloudy,
.nf-weather-night_alt_cloudy,
.nf-weather-day_partly_cloudy,
.nf-weather-night_alt_partly_cloudy {
  font-size: 20px;
}
